@{
    ViewData["Title"] = "Dachi";
}

<div class="row">
<div class="col-md-8 col-md-offset-2 dachi-container">

<div class="row dachi-stats">
    <div class="col-md-3">
        <div class="stat">
            Fullness <span class="fullness">@ViewBag.Fullness</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stat">
            Happiness <span class="happiness">@ViewBag.Happiness</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stat">
            Energy <span class="energy">@ViewBag.Energy</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stat">
            Meals <span class="meals">@ViewBag.Meals</span>
        </div>
    </div>
</div>

<div class="row dachi-main">
    <div class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur quos aut, ipsum aspernatur quia ut harum nobis necessitatibus cumque expedita fugit, magnam sed architecto! Quam asperiores incidunt minima nostrum fugiat suscipit expedita, nam aspernatur at. Illo odit corporis odio atque laudantium perspiciatis, aut ea dolor quos eaque, repellat sapiente minima!
    </div>
</div>

<div class="row dachi-info">
    <div class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, quae.
    </div>
</div>

<div class="row dachi-buttons">
    <div class="col-md-3">
        <button class="feed-btn btn btn-default">Feed</button>
    </div>
    <div class="col-md-3">
        <button class="play-btn btn btn-default">Play</button>
    </div>
    <div class="col-md-3">
        <button class="work-btn btn btn-default">Work</button>
    </div>
    <div class="col-md-3">
        <button class="sleep-btn btn btn-default">Sleep</button>
    </div>
</div>

</div>
</div>