@{
    ViewData["Title"] = "Dachi";
}

<div class="row">
<div class="col-md-8 col-md-offset-2 dachi-container">

<div class="row dachi-stats">
    <div class="col-md-3">
        <div class="stat">
            Fullness <span class="fullness">@ViewBag.Fullness</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stat">
            Happiness <span class="happiness">@ViewBag.Happiness</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stat">
            Energy <span class="energy">@ViewBag.Energy</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="stat">
            Meals <span class="meals">@ViewBag.Meals</span>
        </div>
    </div>
</div>

<div class="row dachi-main">
    <div class="col-md-12">
        <img src="http://placehold.it/200x200" class="dachi-img">
    </div>
</div>

<div class="row dachi-info">
    <div class="col-md-12">
        You played with your Dojoachi! Happiness + 10, Energy - 5
    </div>
</div>

<div class="row dachi-btns">
    <div class="col-md-3">
        <button class="feed-btn btn btn-default">Feed</button>
    </div>
    <div class="col-md-3">
        <button class="play-btn btn btn-default">Play</button>
    </div>
    <div class="col-md-3">
        <button class="work-btn btn btn-default">Work</button>
    </div>
    <div class="col-md-3">
        <button class="sleep-btn btn btn-default">Sleep</button>
    </div>
</div>

</div>
</div>