.dachi-container {
    margin-top: 40px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.dachi-stats {
    padding: 20px 0;
    text-align: center;
}

.dachi-stats .stat span {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.dachi-main {
    border-top: 1px solid #aaa;
    text-align: center;
}

.dachi-img {
    padding: 40px 0;
}

.dachi-info {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 20px 0;
    color: #000;
    background-color: #ddd;
    /*text-align: center;*/
    font-size: 18px;
}

.dachi-btns {
    padding: 10px 0;
}

.dachi-btns .btn {
    margin-right: 10px;
}

.playagn-btn {
    float: right;
}

.btn-group {
    margin: 0 -15px;
}

